@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
*{
    user-select: none;
    font-family: 'Cherry Bomb One';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    object-fit: fill;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: url('assets/bg.jpg');
}
.gameScreen{
    display: none;
    position: relative;
    width: 1500px;
    height: 600px;
}
.gameActions{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    display: none;
    width: 100%;
    height: 400px;
    background: url('assets/Madeira.jpg');
    background-size: 100%;
    border: 1px solid black;
    color: #fff;
}
.gameActions.active{
    display: flex;
}
.gameScreen.active{
    display: block;
}
.mainMenu.active{
    display: flex;
}
.mainMenu{
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 80%;
    font-size: 40px;
    border-radius: 35px;
    box-shadow: 5px 0 25px rgba(0, 0, 0, 0.3);
    background: #fff;
}
.mainMenu > section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}
.mainMenu > section section{
    width: 100%;
    text-align: center;
    display: flex;
}
.mainMenu button{
    width: 25%;
    user-select: none;
    display: flex;
    justify-content: center;
    align-content: center;
    border: none;
    border-radius: 50px;
    padding: 20px;
    font-size: 60px;
}
.mainMenu button:hover{
    cursor: pointer;
    padding: 25px;
    background: #ccc;
}
.mainMenu > section section div{
    user-select: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    font-size: 55px;
    margin:35px;
    border-radius: 35px;
    font-size: 30px;
}
.mainMenu > section section div.active{
    box-shadow: 5px 0 25px rgba(0, 0, 0, 0.3);
}
#boss{
    position: absolute;
    right: 0px;
    margin-right: 150px;
    top: calc(50% - 95px);
    width: 125px;
    height: 150px;
    background: url("assets/BOSS.png");
    background-size: 100%;
}
#player1{
    position: absolute;
    left: 50px;
    margin-right: 150px;
    top: calc(50% - 300px);
    width: 125px;
    height: 165px;
    background: url("assets/PLAYER1.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
#player2{
    position: absolute;
    left: 0;
    margin-right: 150px;
    top: calc(50% - 110px);
    width: 125px;
    height: 150px;
    background: url("assets/PLAYER2.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
#player3{
    position: absolute;
    left: 220px;
    margin-right: 150px;
    top: 50px;
    width: 125px;
    height: 150px;
    background: url("assets/PLAYER3.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
#player4{
    position: absolute;
    left: 170px;
    margin-right: 150px;
    top: calc(50%  - 70px);
    width: 125px;
    height: 150px;
    background: url("assets/PLAYER4.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.lifeBar{
    display: flex;
    justify-content: center;
    align-items: center;
    top: -50px;
    position: absolute;
    width: 100%;
    height: 20px;
    background: red;
    border: 1px solid black;
}
.lifeBar div{
    left: 0;
    z-index: 0;
    position: absolute;
    height: 100%;
    background: green;
}
.lifeBar span{
    z-index: 99;
    position: absolute;
}

.gameActions .turnDiv{
    top: 0;
    left: 0;
    position: absolute;
    font-size: 35px;
    padding: 10px;
}
.gameActions .damageBost{
    top: 0;
    right: 0;
    position: absolute;
    font-size: 35px;
    padding: 10px;
}
.gameActions .balance{
    display: none;
    overflow: hidden;
    position: relative;
    width: 80%;
    height: 70%;
    background: black;
    border-radius: 25px;
}
.balance.active{
    display: block;
}
.gameActions .balance .line{
    position: absolute;
    width: 20px;
    height: 100%;
    background: red;
    z-index: 99;
}
.gameActions .balance .bonusArea{
    position: absolute;
    height: 100%;
    background: green;
    z-index: 98;
}
.actionSelect{
    
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}
.actionSelect.active{
    display: flex;
}
.actionSelect h2{
    font-size: 35px;
    width: 100%;
    text-align: center;
    color: #fff;
}
.actionSelect span{
    background: url('assets/Madeira.jpg');
    background-size: 100%;
    box-shadow: 0 0 10px black;
    color: #fff;
    transition: 300ms;
    font-size: 35px;
    padding: 20px;
    margin: 20px;
}
.actionSelect span:hover{
    cursor: pointer;
    font-size: 40px;
}
.operationScreen{
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    height: 65%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}
.operationScreen.active{
    display: flex;
}
.operationScreen .equation{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.operationScreen .equation .drop-area{
    margin: 0 10px 0 10px;
    width: 70px;
    height: 70px;
    background: white;
    box-shadow: 0 0 10px black inset;
    border-radius: 50%;
}
.operationScreen .equation .drop-area-e{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;
    width: 30px;
    height: 30px;
    background: white;
    box-shadow: 0 0 10px black inset;
    border-radius: 50%;
    transform: translateX(-20px) translateY(-30px);
}
.operationScreen .equation .drop-area-e .opcs{
    width: 30px;
    height: 30px;
    font-size: 30px;
    /* background: yellow; */
}
.operationScreen .opcs{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #000;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 40px;
}

.operationScreen .opcs:hover{
    cursor: move;
}

.damageProp{
    color: red;
    position: absolute;
    font-size: 17px;
    animation: prop 2s;
}
@keyframes prop {
    0%{
        top: 0;
        font-size: 17px;
    }
    100%{
        top: -100px;
        font-size: 22px;
    }
}